# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
venv/
ENV/

# Distribution / packaging
build/
dist/
*.egg-info/
websecscanner.egg-info/
.eggs/

# Installer logs
pip_install_log.txt

# OS files
.DS_Store
Thumbs.db

# VSCode settings
.vscode/

# Test and coverage outputs
htmlcov/
.tox/
.nox/
.coverage
coverage.xml

# Pytest
.pytest_cache/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/
